.botao {
  background: #4e6af0;
  border-radius: 4px;
  padding: 8px 16px;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.botao--branco {
  border: 1px solid #191d21;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 8px;
  background: #ffffff;
  color: #191d21;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 16px;
}
@media (max-width: 767px) {
  .botao--branco {
    font-size: 14px;
    padding: 10px 12px;
  }
  .botao {
    font-size: 14px;
    padding: 9px 14px;
  }
}

